<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ex
      consequuntur accusantium ratione nesciunt unde aliquam tempora? Ea, sit?
      Quam, fuga veritatis dolorem odio dignissimos perferendis! Cumque nesciunt
      saepe quam.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card__secondry">
      <div class="card__header">Card Title</div>
      <div class="card__body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit corporis
        ad quo, accusamus natus odit a totam m
      </div>
    </div>
  </div>
</section>

<section class="block block__dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ex
      consequuntur accusantium ratione nesciunt unde aliquam tempora? Ea, sit?
      Quam, fuga veritatis dolorem odio dignissimos perferendis! Cumque nesciunt
      saepe quam.
    </p>
  </div>
</section>
