<div class="callout callout--primary">
  <div class="grid grid--cols">
    <div class="collout__content">
      <h2 class="collout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        laborum tenetur optio minima debitis corrupti harum sit cum veniam
        dolorem voluptatibus totam unde cumque, nobis commodi natus eius ipsam
        corporis.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--strech">Get Started</a>
  </div>
</div>
