<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias,
    voluptates, libero dolores sint ipsam recusandae dolorum pariatur ut
    dignissimos, reiciendis ab? Aliquam molestias exercitationem saepe fugiat
    tempora, architecto at!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias,
    voluptates, libero dolores sint ipsam recusandae dolorum pariatur ut
    dignissimos, reiciendis ab? Aliquam molestias exercitationem saepe fugiat
    tempora, architecto at!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias,
    voluptates, libero dolores sint ipsam recusandae dolorum pariatur ut
    dignissimos, reiciendis ab? Aliquam molestias exercitationem saepe fugiat
    tempora, architecto at!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible_header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias,
    voluptates, libero dolores sint ipsam recusandae dolorum pariatur ut
    dignissimos, reiciendis ab? Aliquam molestias exercitationem saepe fugiat
    tempora, architecto at!
  </div>
</div>
