<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure</p>
  </header>

  <article class="grid grid--col2 feature">
    <div class="feature__content">
      <span class="icon--container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ullam,
        assumenda quas modi, facilis incidunt velit officiis provident! Non, ab
        necessitatibus.
      </p>
      <a href="" class="link-arrow"> Learn More </a>
    </div>
    <img alt="images/easy.jpg" src="images/easy.jpg" style="width: 100%" />
  </article>
</section>
