<footer class="block block__dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <header class="collapsible_header">
        <h2 class="collapsible__heading footer_heading">Item 2</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Web Site Hosting</a></li>
          <li><a href="#">Free Automated Word Press</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible_header">
        <h2 class="collapsible__heading footer_heading">Item 1</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Web Site Hosting</a></li>
          <li><a href="#">Free Automated Word Press</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible_header">
        <h2 class="collapsible__heading">Item 3</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Web Site Hosting</a></li>
          <li><a href="#">Free Automated Word Press</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedanian</p>
    </section>
  </div>
</footer>
