<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#clock"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nihil odio
      neque nostrum doloribus dicta unde tempora! Soluta nulla dolor omnis odio.
      Explicabo reprehenderit fugiat unde ducimus pariatur, dicta reiciendis?
    </p>
  </div>
</div>
