<section class="block block__dark block--skewed-right black-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--col2">
    <img class="black-showcase__image" src="images//ipad.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              nihil odio neque nostrum doloribus dicta unde tempora! Soluta
              nulla dolor omnis odio. Explicabo reprehenderit fugiat unde
              ducimus pariatur, dicta reiciendis?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              nihil odio neque nostrum doloribus dicta unde tempora! Soluta
              nulla dolor omnis odio. Explicabo reprehenderit fugiat unde
              ducimus pariatur, dicta reiciendis?
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              nihil odio neque nostrum doloribus dicta unde tempora! Soluta
              nulla dolor omnis odio. Explicabo reprehenderit fugiat unde
              ducimus pariatur, dicta reiciendis?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
